* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0pt 50pt 10pt 80pt;
}

footer{
    background-image: url('./image\ 24@3x.png');
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    height: 40rem;
    margin-top: 5rem;
    
}

footer img{
    position: relative;
    left: 10%;
    top: 15%;
    width: 20%;
}

.logoMenuContainer{
    display: flex;
}

.logoMenuContainer img{
    padding:11pt 5pt 5pt 10pt;
}

.logo{
    height: 80pt;
    width: 100pt;
}

.menuContainer{
    display: flex;
}

.menuContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 14pt 10pt 10pt 0pt;
    margin-left: 20pt;
    font-size: 16pt;
    color: rgb(102 112 133);
}

.logContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logContainer button {
    display: flex;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 15pt 10pt 15pt 10pt;
    font-size: 16pt;
    color: rgb(102 112 133); 
}

.mid-container{
    display: flex;
    justify-content: space-between;
}

.box2 img{
    transform: scale(1.2);
    margin-right: 70px;
    margin-top: 50px;
}

.rectangle{
    position: absolute;
    margin-left: 13%;
    margin-top: 10%;
    width: 30%;
}

.horse{
    position: absolute;
    margin-left: 36%;
    margin-top: 6%;
    width: 7%;
}

.cone{
    position: absolute;
    margin-left: 8%;
    margin-top: 18%;
    width: 7%;
}

.searchBox{
    background-color: rgb(255 18 118);
    border: none;
    border-radius: 51pt;
    box-shadow: 5pt 7pt 10pt 0pt rgb(237, 152, 187);
    padding: 0.5%;
    margin-top: 5%;
    margin-left: 25%;
    width: 45%;
}

.searchImgDiv{
    display: inline-block;
    position: relative;
    left: -6%;
    top: 6px;
    border: none;
    background-color: rgb(251 230 40);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.searchBox span{
    color:  rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-weight:400;
    font-size: 250%;
    position: relative;
    left: -1%;
}

.toppick{
    margin-top: 4%;
    text-align: center;
    width: 45%;
    margin-left: 25%;
}

.toppick span{
    display: inline-block;
    margin-bottom: 15px;
}




.galleryDiv{
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 10%;
}

/* .arrowDiv img{
    margin: 1%;
} */

.item button{
    margin: 15px 0 15px 0;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 52pt;
}

.sc-bdVaJa img[type="prev"]{
    position: absolute;
    display: inline-block;
    margin-top: 20%;
    margin-left: 47%;
}

.sc-bdVaJa img[type="next"]{
    position: absolute;
    display: inline-block;
    margin-top: 4.5%;
    margin-left: 51%;
}

.productSection{
    width: 90%;
    margin-left: 5%;
}

.firstDiv span{
    display: inline-block;
    margin-left: 5%;
    padding: 0.5%;
    text-align: left;
}

.sortBtn{
    text-align: right;
    margin-right: 5%;
}
.sortBtn button{
    padding: 0.8% 1.5% 0.8% 1.5%;
    font-size: medium;
    border: none;
    color: rgb(102 112 133);
    background-color: rgb(249 250 251);
    border-radius: 8pt;
    margin-right: 0.1%;
}

.sortBtn button:focus{
    background-color: rgb(0 175 237);
    color: rgb(255 255 255);
    outline:none;
}

.products{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;

}

.productContainer{
    text-align: center;
    width: 23%;
    margin: 1%;
    border: 1pt solid rgb(199 199 199);
    border-radius: 8pt;
}

.imgContainer img{
    display: inline-block;
    width: 90%;
}

.descriptionContainer{
    background-color: rgb(250 246 249);
    padding: 5%;
    border-radius: 8pt;
    border: 1pt solid rgb(199 199 199);
}

.offerContainer{
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.offerContainer span{
    color: rgb(255 18 118);
    font-family: 'Nunito', sans-serif;
    font-weight:700;
    text-align: center;
    font-size: 20pt;

}

.offerSubContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 5%;

}

.offerImgContainer{
    position: relative;
    left: -5%;
    width: 40%;
}

.offerImgContainer img{
    width: 100%;
}

.offerAttrContainer{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.attr{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 5%;
    margin: 10%;
    width: 28rem;
    position: relative;
    top: -5%;
}

.attr *{
    padding: 0.8%;
}

.attr1{
    border: 1pt dashed rgb(251 166 40);
    background-color: rgb(255 248 239);
    border-radius: 8pt;
}
.attr2{
    border: 1pt dashed rgb(137 136 247);
    background-color: rgb(246 247 255);
    border-radius: 8pt;
}
.attr3{
    border: 1pt dashed rgb(22 188 169);
    background-color: rgb(246 254 254);
    border-radius: 8pt;
}

.attrText{
    width: 70%;
}

.SliderDiv{
    width: 90%;
    margin-left: 5%;
}



#searchBox{
    border-radius: 29pt;
    border: none;
    color: rgb(211, 208, 208);
    width: 45%;
    height: 60px;
    position: relative;
    top: -5px;
    left: 5%;
    font-size: 20px;
    padding: 20px;

}


#span1{
    position: absolute;
    font-size: 65pt;
    margin-left: 15%;
    margin-top: 10.5%;
    transform: rotate(-10deg);
    color: rgb(255 18 118);
    font-family: 'Nunito', sans-serif;
    font-weight:700;
}

#span2{
    position: absolute;
    font-size: 60pt;
    margin-left: 22%;
    margin-top: 18%;
    color: rgb(251 166 40);
    font-family: 'Nunito', sans-serif;
    font-weight:900;
}

#span3{
    position: absolute;
    font-size: 20pt;
    margin-left: 15%;
    margin-top: 25%;
    width: 30%;
    color: rgb(149 149 149);
    font-family: 'Nunito', sans-serif;
}

#span4{
    color: rgb(255 18 118);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12pt;
}

#span5{
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 25pt;
}

#span6{
    color: rgb(102 112 133);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15pt;
}

#span7{
    color: rgb(255 18 118);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#span8{
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 25pt;
}

#span9{
    color: rgb(102 112 133);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15pt;
}

#span10{
    color: rgb(255 18 118);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15pt;
    display: inline-block;
    padding: 8pt;
    
}

#span11{
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10pt;
}

#span12{
    color: rgb(251 166 40);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 15pt;
}
#span13{
    color: rgb(144 144 144);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 10pt;
}
#span14{
    color: rgb(137 136 247);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 15pt;
}
#span15{
    color: rgb(144 144 144);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 10pt;
}
#span16{
    color: rgb(22 188 169);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 15pt;
}
#span17{
    color: rgb(144 144 144);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 10pt;
}

#shopNowBtn{
    position: absolute;
    font-size: 20pt;
    margin-left: 15%;
    margin-top: 31%;
    width: 11%;
    height: 7%;
    border-radius: 8pt;
    color: rgb(255 255 255);
    background-color:  rgb(255 18 118);
    border: none;
}

#signUpButton{
    color: rgb(255 255 255);
    background-color: rgb(127 86 217);
    border-radius: 10pt;
    width: 90pt;
    height: 45pt;
    margin-left: 15pt;
}

